<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806108434627-0fbgrodtel01eiijhhkbap8kfkbusi7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806108434627-0fbgrodtel01eiijhhkbap8kfkbusi7b</string>
	<key>API_KEY</key>
	<string>AIzaSyDq1AchNCJXNLC6DF3IpEC9fOyV8ulP7Co</string>
	<key>GCM_SENDER_ID</key>
	<string>806108434627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.msquare.petmatch</string>
	<key>PROJECT_ID</key>
	<string>petmatch-a655b</string>
	<key>STORAGE_BUCKET</key>
	<string>petmatch-a655b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806108434627:ios:238705d292ffb2f06fd276</string>
</dict>
</plist>