<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.be.petsmatch.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>96B642459A549F353543A055109BC82C8BE9F0EB</string>
				<key>dateExpires</key>
				<string>06/01/2023</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>96B642459A549F353543A055109BC82C8BE9F0EB</string>
						<key>dateExpires</key>
						<string>06/01/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NA4WKPB8M8</string>
						<key>name</key>
						<string>Mina Faragallah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>96B642459A549F353543A055109BC82C8BE9F0EB</string>
						<key>dateExpires</key>
						<string>06/01/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NA4WKPB8M8</string>
						<key>name</key>
						<string>Mina Faragallah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>96B642459A549F353543A055109BC82C8BE9F0EB</string>
						<key>dateExpires</key>
						<string>06/01/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NA4WKPB8M8</string>
						<key>name</key>
						<string>Mina Faragallah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>96B642459A549F353543A055109BC82C8BE9F0EB</string>
						<key>dateExpires</key>
						<string>06/01/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NA4WKPB8M8</string>
						<key>name</key>
						<string>Mina Faragallah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>96B642459A549F353543A055109BC82C8BE9F0EB</string>
						<key>dateExpires</key>
						<string>06/01/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NA4WKPB8M8</string>
						<key>name</key>
						<string>Mina Faragallah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>96B642459A549F353543A055109BC82C8BE9F0EB</string>
						<key>dateExpires</key>
						<string>06/01/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NA4WKPB8M8</string>
						<key>name</key>
						<string>Mina Faragallah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>96B642459A549F353543A055109BC82C8BE9F0EB</string>
						<key>dateExpires</key>
						<string>06/01/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NA4WKPB8M8</string>
						<key>name</key>
						<string>Mina Faragallah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>96B642459A549F353543A055109BC82C8BE9F0EB</string>
						<key>dateExpires</key>
						<string>06/01/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NA4WKPB8M8</string>
						<key>name</key>
						<string>Mina Faragallah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>96B642459A549F353543A055109BC82C8BE9F0EB</string>
						<key>dateExpires</key>
						<string>06/01/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NA4WKPB8M8</string>
						<key>name</key>
						<string>Mina Faragallah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>96B642459A549F353543A055109BC82C8BE9F0EB</string>
						<key>dateExpires</key>
						<string>06/01/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NA4WKPB8M8</string>
						<key>name</key>
						<string>Mina Faragallah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>96B642459A549F353543A055109BC82C8BE9F0EB</string>
						<key>dateExpires</key>
						<string>06/01/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NA4WKPB8M8</string>
						<key>name</key>
						<string>Mina Faragallah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>96B642459A549F353543A055109BC82C8BE9F0EB</string>
						<key>dateExpires</key>
						<string>06/01/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NA4WKPB8M8</string>
						<key>name</key>
						<string>Mina Faragallah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>96B642459A549F353543A055109BC82C8BE9F0EB</string>
						<key>dateExpires</key>
						<string>06/01/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NA4WKPB8M8</string>
						<key>name</key>
						<string>Mina Faragallah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NA4WKPB8M8.com.be.petsmatch</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>NA4WKPB8M8</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>NA4WKPB8M8.com.be.petsmatch</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c8c87d4d-1972-4337-a97d-5669ec1d76fb</string>
				<key>dateExpires</key>
				<string>07/01/2023</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.be.petsmatch</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NA4WKPB8M8</string>
				<key>name</key>
				<string>Mina Faragallah</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
